<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>南科Top</title>
    <script>
        document.addEventListener('mousewheel', function (e) {
            e = e || window.event;
            if ((e.wheelDelta && event.ctrlKey) || e.detail) {
                event.preventDefault();
            }
        }, {
            capture: false,
            passive: false
        });
    </script>
    <script type="module" crossorigin src="/assets/index-ca32026e.js"></script>
    <link rel="stylesheet" href="/assets/index-add3bb86.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
